# --- OLD ACCOUNTS (Source) ---
# Your current developer credentials
OLD_MONGODB_URI=
OLD_CLOUDINARY_NAME=
OLD_CLOUDINARY_API_KEY=
OLD_CLOUDINARY_SECRET_KEY=

# --- NEW CLIENT ACCOUNTS (Destination) ---
# The brand new accounts the client provided
NEW_MONGODB_URI=
NEW_CLOUDINARY_NAME=
NEW_CLOUDINARY_API_KEY=
NEW_CLOUDINARY_SECRET_KEY=
NEW_CLOUDINARY_FOLDER=afiya-leathers
